<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
  </div>
</div>
<hr>
<!-- This will be moved into app-recipe-item later -->
<div class="row">
  <div class="col-xs-12">
    <!-- <app-recipe-item
      *ngFor="let recipeElement of recipes"
      [recipe]="recipeElement"
      (recipeSelected)="onRecipeSelected(recipeElement)"> -->
    <app-recipe-item
      *ngFor="let recipeElement of recipes; let i = index"
      [recipe]="recipeElement"
      [recipeIndex]="i">
    </app-recipe-item>
  </div>
</div>
